#body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#body2 {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#title {
    position: fixed;
    width: 100%;
    font-size: 2vw;
    right: -37%;
    top: 20px;
    font-family: cursive;
    color: azure;
}

#code {
    position: fixed;
    font-size: 2vw;
    right: 39%; 
    bottom: 50%;
}

#copyright {
    position: fixed;
    width: 100%;
    font-size: 1vw;
    font-family: cursive;
    bottom: 0%;
    color: azure;
}

#obfusce {
    position: fixed;
    font-size: 2vw;
    right: 46.5%; /* Vous pouvez ajuster cette valeur en pourcentage */
    bottom: 40%; /* Vous pouvez ajuster cette valeur en pourcentage */
}

#credit {
    position: fixed;
    width: 100%;
    font-size: 1vw;
    right: -37%;
    bottom: 20px;
    font-family: cursive;
    color: aquamarine;
}

#obfuscatedResult {
    font-family: cursive;
}